.card{
    margin: 15px auto;
    padding: 15px;
    border: 1px solid #00000060;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 5px;
    width: 350px;
}

.card:hover{
    background-color: rgba(245 245 245 / 100%);
}

.card:active{
    background-color: rgba(230 230 230 / 100%);
}

input{
    margin: 5px 5px;
    border: 2px solid #bfc7c6ff;
}

input[type=text]:hover{
    border: 2px dotted rgb(255 99 71 / 0.527);
}

/*
input[type=text]:focus {
 border: 10px solid rgb(121, 0, 0); 
}
*/

.boton {
border: none;
background-color: tomato;
color: rgb(255 255 255);
border-radius: 7px;
padding: 10px;
width: 100px;
text-align: center;
cursor: pointer;
margin: 10px 5px 10px 30px;
box-shadow: 1px 1px 2px brown;
}
.boton:hover {
background-color: rgb(247 80 51);
}
.boton:active {
background-color: rgb(253 54 18);
}

.inline{
    /*display:flex;*/
    display:inline-block;
}

.cursor{
    cursor: pointer;
}